<h1>Details</h1>

<div class="ui grid">
  <div class="three wide column"><div class="ui label">Title</div></div>
  <div class="thirteen wide column"><%= @asset.title %></div>

  <div class="three wide column"><div class="ui label">Last created</div></div>
  <div class="thirteen wide column"><%= @asset.created_at %></div>
  
  <div class="three wide column"><div class="ui label">Last updated</div></div>
  <div class="thirteen wide column"><%= @asset.updated_at %></div>

  <div class="three wide column"><div class="ui label">Categories</div></div>
  <div class="thirteen wide column">
    <ul class="ui relaxed divided list">
      <% @asset.categories.each do |category| %>
        <li class="item"><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </div>

</div>

<h1>Recommendations</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @asset.secret_sauce_recommendations.each do |recommendation| %>
      <tr>
        <td><%= link_to recommendation.asset.title, recommendation.asset %></td>
        <td><%= recommendation.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>